body{
    margin: 0;
    font-family: 'Poppins', sans-serif;    
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.pro-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;
}
.pro-half img{
    height: 100%;
    width: 100%;
    margin-top: 150px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    float: left;
}

.hire-me{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;  
    text-decoration: none; 
    font-weight: 800; 
    color: white;  
}  
.dream-area{
    background-image:url(images/dream-bg.png);
    /* background-repeat: no-repeat; */
}
.dream-half{
    width: 50%;
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dream-half img{
    height: 400px ;
}

.dream-half h1{
    margin-left: 100px;
}
.dream-half h3{
    margin-left: 100px;
}
.dream-half p{
    margin-left: 100px;
}
.dream-half a{
    margin-left: 100px;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.Resume-button{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 5px;

}